<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Filtering">
            <directory suffix=".php">./tests/TestSuites/Filtering</directory>
        </testsuite>
        <testsuite name="Parser">
            <directory suffix=".php">./tests/TestSuites/Parser</directory>
        </testsuite>
    </testsuites>
</phpunit>
